 #content {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    justify-content: flex-start;
    align-items: start;
    background: transparent;
    gap: 1vh;
    margin-left: 5%;
    padding: 0 1vw;
} 


.slide-show h2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 100;
    padding: 1vh 0
}

.slides-list {
    list-style-type: none;
    margin: 10px 0;
    gap: 3vw;
    padding: 0;
    
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.slide{
    background-color: #151515;
    width: auto;
    border-radius: 6px;
}

canvas {
    height: auto;
    width: 40vw;
    padding: 10px 1vw 10px 3vw;
}

/* parte da escrita do site  */

body{
    background-color: black;
    margin: auto;
    width: auto;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: #fff;
    font-family: "One Piece";
  }
  
  
  nav ul {
    gap: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 20px;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  

  .titulo {
 padding: 120px;
 font-size: 40px;
    
  }

  nav{
    padding: 100px;
  }

  .logo{
    height: 50px;
    width: 50px;
   
}


.titulo{
    display: flex;
    color: white;
    width: fit-content;
    font-size: 40px;
    align-items: center;
}

.logo{
    height: 50px;
    width: 50px;
   
}

.bando{
    height:10cm;
    width: 15cm;
    margin-left: 25%;
    margin-top: 30px; 
}

.texto{
color: white;
justify-content: center;
align-items: center;
font-size: 20px;
margin-bottom: 100px;
margin-left: 30%;
margin-top: 40px; 
font-family: 'One Piece';
}




.subtitulo{
    margin-left: 30%;
    font-size: 2cm;
    color: white;

}

.caixa1 {
width: 50px;
height: 100px;
border-color: white;
color: white;
display: flex;
border: 2px;
border-radius: 2px;
}

