body{
    background-color: black;
    margin: auto;
    width: auto;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: #fff;
    font-family: "One Piece";
  }
  
  
  nav ul {
    gap: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 20px;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  

  .titulo {
 padding: 120px;
 font-size: 40px;
    
  }

  nav{
    padding: 100px;
  }

  .logo{
    height: 50px;
    width: 50px;
   
}


.titulo{
    display: flex;
    color: white;
    width: fit-content;
    font-size: 40px;
    align-items: center;
}

.logo{
    height: 50px;
    width: 50px;   
}

.bando{
    height:10cm;
    width: 15cm;
    margin-left: 25%;
    margin-top: 30px;  
}

.texto{
color: white;
justify-content: center;
align-items: center;
font-size: 20px;
margin-bottom: 100px;
text-align: center;
margin-top: 40px; 
font-family: 'One Piece';
}




.subtitulo{
    text-align: center;
  align-items: center;
    font-size: 2cm;
    color: white;
}



